services:
	- WebChemistry\Console\ParametersInsert
	insertDb:
			class: App\Console\Insert
			setup:
				- add(@WebChemistry\Console\ParametersInsert)

console:
	commands:
		- App\Console\ClearCacheCommand
		- App\Console\DumpCommand
		- App\Console\InsertCommand