{block title}
    {_'user.front.forgot.default.title'}
{/block}

{block content}
    <Panel n:component="title => 'user.front.forgot.default.title'">
        {control forgot}
    </Panel>
{/block}