{block title}
    {_'user.front.forgot.newPassword.title'}
{/block}

{block content}
    <Panel n:component="title => 'user.front.forgot.newPassword.title'">
        {control newPassword}
    </Panel>
{/block}