body {
  background: #ecf0f5;
}
.grido .action a {
  margin-left: 3px;
}
.grido .action a:first-child {
  margin-left: 0;
}
.grido td {
  vertical-align: 0 !important;
}
.grido .paginator {
  margin-right: 5px;
}
.grido .count select,
.grido .count .select2 {
  display: inline-block;
  width: auto;
  margin-left: 5px;
}
form .checkbox label {
  padding-left: 0;
}
form label .custom-checkbox {
  margin-right: 5px;
}
html .js-show {
  display: none !important;
}
html.js .js-hide {
  display: none !important;
}
html.js .js-show {
  display: block !important;
}
table.table-info tr {
  padding-top: 3px;
}
table.table-info tr td.text-bold {
  font-weight: bold;
}
table.table-info tr td:not(:first-child) {
  padding-left: 5px;
}
.full-width {
  width: 100%;
}
.table-info td {
  padding: 5px;
}
.ui-menu-item {
  padding: 3px 5px !important;
  border: 0 !important;
}
.input-group .input-group-addon {
  color: #000;
}
.input-group .input-group-addon.with-border {
  border-left: 1px solid #d2d6de;
}
.selectize-control.form-control {
  padding: 0;
  border: 0;
}
.form-group:after {
  content: ' ';
  clear: both;
}
.selectize-dropdown {
  padding: 0 !important;
}
