{var $path = [
    'website.admin.default.title' => ''
]}

{block title}
    {_'website.admin.default.title'}
{/block}

{block content}
    <div n:foreach="$forms as $name => $title" class="col-xs-12">
        <Panel n:component="title => $title">
            {control $name}
        </Panel>
    </div>
{/block}